footer p {
      // footer font
      font-family: $primary-font;
      color: $white-color;
      font-size: 22px;
      font-weight: 400;
      // footer position
      margin: 50px auto;
      text-align: center;
}