@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      src: url('chemin/vers/Inter-Regular.woff2') format('woff2'),
           url('chemin/vers/Inter-Regular.woff') format('woff');
    }

body{
      margin: 0;
      background: linear-gradient(to left,#3B5778,#191C57);
}
header{
      background-image: url(images/quadrillage-header.png);
      background-repeat: no-repeat;
      background-size: 100%;
}
.navbar{
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      height: 100%;
      max-height: 100px;
      align-items: center;
      margin: 0 25px;
}

.navbar img{
      width: 100%;
      max-width: 100px;
}

.navbar button{
      font-family: 'Inter', sans-serif;
      width: 100%;
      max-width: 238px;
      border-radius: 10px;
      background-color: #FDBB57;
      padding: 15px;
      border: none;
      font-size: 24px;
      font-weight: 500;
      transition: 0.3;
}

.navbar button:hover{
      background-color: #1EA8D4;
}

.header-text{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.header-text p{
      font-family: 'Inter', sans-serif;
      text-align: center;
      font-size: 35px;
      font-weight: 400;
      color: #F5F5F5;
}

.header-text h1{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 102px;
      font-weight: 800;
      margin: 0;
      background: linear-gradient(to bottom, #FFBC58, #FDBB57,#997135, #997135);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
}

.header-text h2{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 102px;
      font-weight: 800;
      margin: 0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      color: #1EA8D4;
}


.header-date{
      display: flex;
      align-items: center;
      background: url(images/borne.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 430px;
      height: 400px;
      width: 100%;
      justify-content: space-evenly;
}


.header-date h3{
      font-family: 'Inter', sans-serif;
      text-align: center;
      font-size: 72px;
      font-weight: 800;
      margin: 0;
      background: linear-gradient(to bottom, #FFBC58, #FDBB57,#997135, #997135);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;   display: flex;
}


.arcade-section{
      overflow: hidden;
      border-bottom: 1px solid #4F6C98;
      padding: 50px;
}

.arcade-section .arcade-bloc{
      margin: 50px auto;
      background: linear-gradient(to left,#FDBB57,#997135);
      border-radius: 30px;
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: 0 auto;
      max-width: 1600px;
}



.arcade-section .arcade-bloc img{
      margin: 50px;
      border-radius: 30px;
      max-width: 600px;
      width: 100%;
      height: 500px;
}

.arcade-section .arcade-bloc .arcade-text{
      margin: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      max-width: 500px;
}

.arcade-section .arcade-bloc .arcade-text h2{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 800;
      color: #FFFFFF;
      text-align: left;
      margin: 0;
}

.arcade-section .arcade-bloc .arcade-text h3{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 800;
      color: #240C04;
      text-align: left;
      margin: 0;
}

.arcade-section .arcade-bloc .arcade-text p{
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-align: left;
      margin: 0;
}

.arcade-section .arcade-bloc .arcade-text button{
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      background-color: #E34A32;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      border: none;
      margin: 25px 0px;
}

.event-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #4F6C98;
      margin: 50px auto;
}

.event-section h2{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 70px;
      font-weight: 800;
      margin: 0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #FEBC58;
      color: #1EA8D4;
}

.event-section ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap
}


.record-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #4F6C98;
      margin: 50px auto;
}

.record-section h2{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 70px;
      font-weight: 800;
      margin: 0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #FEBC58;
      color: #1EA8D4;
}

.record-section ul{
      margin: 75px auto;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 120px;
}

.record-section ul li{
      display: flex;
      flex-direction: column;
}

.record-section ul li h3{
      font-family: 'Inter', sans-serif;
       text-align: center;
      font-size: 50px;
      font-weight: 800;
}

.record-section ul li .third{
      color: #C16D5F;
}

.record-section ul li .two{
      color: #F5F5F5;
}

.record-section ul li .first{
      color: #FDBB57;
}

.record-section ul li img{
      width: 300px;
      height: 300px;
      border-radius: 20px;
      object-position: center;
      object-fit: cover;
}

.record-section ul li h4{
      font-family: 'Inter', sans-serif;
      text-align: left;
      font-size: 25px;
      font-weight: 800;
      color: #ffffff;
}


.record-section ul li .record-bloc{
      display: flex;
      justify-content: space-between
}

.record-section ul li .record-bloc p{
      font-family: 'Inter', sans-serif;
      text-align: left;
      font-size: 20px;
      font-weight: 800;
      color: #1EA8D4;
}

.newsletter{
      border-bottom: 1px solid #4F6C98;
}

.newsletter .newsletter-bloc{
      width: 95%;
      max-width: 1600px;
      margin: 50px auto;
      background: linear-gradient(to left, #FDBB57, #997135);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
}

.newsletter .newsletter-bloc h2{
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 50px;
      font-weight: 800;
      margin: 0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #ffffff;
      color: #1EA8D4;
}

.newsletter .newsletter-bloc input{
      font-family: 'Inter', sans-serif;
      font-size: 25px;
      font-weight: 400;
      margin: 0;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      width: 60%;
}


.newsletter .newsletter-bloc button{
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      background-color: #E34A32;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      border: none;
      margin: 25px 0px;
}


footer p {
      font-family: 'Inter', sans-serif;
      font-size: 22px;
      font-weight: 400;
      margin: 50px auto;
      text-align: center;
      color: #FFFFFF;
}

@media (max-width: 800px) {

      .navbar {
            margin: 15px;
            max-height: 40px;
      }

      .navbar img {
            max-width: 70px;
      }

      .navbar button {
            font-family: 'Inter', sans-serif;
            width: 100%;
            max-width: 118px;
            padding: 10px;
            font-size: 12px;
            font-weight: 600;
      }

      .header-text p{
            font-size:20px;
      }

      .header-text h1{
            font-size:56px;
      }
      .header-text h2{
            font-size:56px;
      }
      .header-text .header-date{
            justify-content: space-around;
            background-size: 260px;
      }

      .header-text .header-date h3{
            font-size: 22px;
      }

      .arcade-section{
            padding: 20px;
      }

      .arcade-section .arcade-bloc {
            background: linear-gradient(to top, #FDBB57, #997135);
            padding: 10px;
            gap: 75px;
        }
        .arcade-section .arcade-bloc img{
            margin: 0;
            height: 300px;
        }

        .arcade-section .arcade-bloc .arcade-text{
            margin: 0px;
        }


        .arcade-section .arcade-bloc .arcade-text h2{
            font-size: 22px;
        }

        .arcade-section .arcade-bloc .arcade-text h3{
            font-size: 22px;
        }

        .arcade-section .arcade-bloc .arcade-text p{
            font-size: 13px;
        }


        .event-section h2{
            font-size: 25px;
        }

        .event-section ul {
            justify-content: center;
            padding: 0px;
        }
        .event-section ul img{
              width: 100%;
              max-width: 250px;
        }

        .record-section ul {
            justify-content: center;
            padding: 0px;
            gap: 40px;
        }

        .record-section h2{
            font-size: 25px;
        }

      .newsletter .newsletter-bloc h2{
            font-size: 32px;
      }

      .newsletter .newsletter-bloc input {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
        }
}

@media (max-width: 1468px) {
      .arcade-section .arcade-bloc img {
            border-radius: 30px;
            max-width: none;
        }
      .arcade-section .arcade-bloc .arcade-text {
            max-width: none;
        }
}