// color

$primary-color: #FDBB57;
$secondary-color: #1EA8D4;
$red-color: #E34A32;
$dark-orange: #997135;
$white-color: #FFFFFF;
$black-color: #240C04;
$background-blue: #3B5778;
$background-dark: #191C57;
$border-color: #4F6C98;

// font

$primary-font: 'Inter', sans-serif;